@{
    ViewBag.Title = " OCDC EApp";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>List of Internal Apps
    <ol>
        <li> Travel Request System</li>
        <li>Warehouse Inventory management System</li>
        <li> WorkOrder System</li>
    </ol>.</p>
