@{
    ViewBag.Title = "OCDC";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   OCDC-oregon Chil Development Coalition
    <br />
    9140 SW Pioneer Court, Suite E  |    Wilsonville Or 97070<br />
    <abbr title="Phone">P:</abbr>
    (503)570-1110 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:DBTeam@ocdc.net">DBTeam@OCDC.net</a><br />
    <strong>Help Desk:</strong> <a href="(503)570-1110 * 1100">(503)570-1110 * 1100</a>
</address>