@{
    ViewBag.Title = "Comming Soon";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> These app component is under construction. Dev team will update you soon when it become available for use.</p>

<address>
    <strong>Support:</strong>   <a href="mailto:DBTeam@ocdc.net">DBTeam@OCDC.net</a><br />
    <strong>Help Desk:</strong> <a href="(503)570-1110 * 1100">(503)570-1110 * 1100</a>
</address>